#content {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#chartContainer {
    width: 800px;
    height: 450px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}
